@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
display: none;
}

.attachment {
margin-bottom: 30px;
}

.attachment__caption{
display: none;
}

strong, b {
    font-weight: bold !important;
}

